/*modalL https: //jsfiddle.net/kumarmuthaliar/GG9Sa/1/*/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(207, 192, 163, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 1000px;
    height: 550px;
    position: relative;
    margin-top: 40px;
    margin-left: 10%;
    padding: 5px 20px 13px 20px;
    background-color: white;
    background-image: url(Images/Achtegrond%20dagboek2.png);
}

.close {
    background: #E7C80B;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #000;
    font-family: 'Overpass', bold;
}

.close:hover {
    background: #97790B;
}

div:nth-of-type(2) {
    position: absolute;
}

#bold {
    width: 30%;
}


/*Dagboek pagina overgroot opa*/

.dagboek h1 {
    font-size: 4em;
    color: #97790B;
    margin-left: -230px;
    margin-left: 30px;
    font-family: 'Dancing Script';
}

.dagboek p {
    position: absolute;
    font-family: 'Dancing Script';
    width: 36%;
    font-size: 1.2em;
    color: black;
    margin-left: 30px;
    margin-top: -30px;
    animation: fadeIn 6s forwards;
}

#geboorte {
    width: 35%;
    font-size: 1.4em;
}

#geboorte2 {
    width: 40%;
    font-size: 1.2em;
}

p:nth-of-type(2) {
    font-size: 1.4em;
    margin-top: 120px;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body.dagboek {
    background-image: url(Images/Achtegrondnieuw.png)
}


/*
#fotovoor:hover {
    animation: Schudden 0.3s linear forwards;
}
*/

.opzij {
    animation: opzijvegen 0.8s linear forwards;
}

@keyframes opzijvegen {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-130px);
    }
}

.dagboek img {
    position: absolute;
    width: 400px;
    height: 550px;
    margin-left: 600px;
    margin-top: -120px;
}

.dagboek a img {
    position: absolute;
    width: 380px;
    height: 580px;
    margin-left: 690px;
    margin-top: -160px;
}

.dagboek a img:hover {
    animation: Omhoog 0.3s linear forwards;
}

@keyframes Omhoog {
    0% {
        transform: translate(0, -5px);
    }
    50% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, -15px);
    }
}

.dagboek1 a img {
    margin-top: 350px;
    margin-left: 25px;
    width: 120px;
    height: 80px;
    /*
    animation: invliegen 2s forwards;
    transition: transform .8 ease;
*/
}

#geboorte img {
    margin-top: 250px;
    margin-left: 25px;
    width: 270px;
    height: 180px;
}


/*
@keyframes invliegen {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0px);
    }
}*/

.dagboek1 a img:hover {
    animation: Schudden 0.8s linear infinite;
}

@keyframes Schudden {
    0% {
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(0, -6px);
    }
    100% {
        transform: translate(0, 3px);
    }
}


/*Dagboek pagina ikzelf*/

.dagboek2 h1 {
    margin-left: 30px;
    color: #E7C80B;
    font-family: 'Overpass', bold;
}

.dagboek2 p {
    color: #070F1A;
    font-family: 'Swanky and Moo Moo';
    margin-left: 30px;
    font-size: 1.2em;
    margin-top: -50px;
    width: 400px;
}

.dagboek2 img {
    width: 330px;
    height: 500px;
    margin-left: 530px;
    margin-top: -160px;
}

h2 {
    z-index: 4;
    position: absolute;
    font-size: 6.7em;
    color: #97790B;
    margin-top: 440px;
    margin-left: 930px;
    font-family: 'Dancing Script', cursive;
    animation: invliegen 2s forwards;
    transition: transform .8 ease;
}

@keyframes invliegen {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}

#openModal h2 {
    position: absolute;
    font-size: 6em;
    color: #E7C80B;
    margin-top: 240px;
    margin-left: 770px;
    font-family: 'Overpass', bold;
}

audio {
    margin-top: 290px;
    margin-left: 32px;
    transition: all 0.5s linear;
    box-shadow: 2px 3px 5px 0px #1E548E;
    border-radius: 30px;
}

audio:hover {
    box-shadow: 10px 10px 15px rgba(16, 55, 98, 0.4);
    transform: scale(1.05);
}

audio:active {
    box-shadow: 10px 10px 15px rgba(16, 55, 98, 0.4);
    transform: scale(1.05);
}


/*decoratie*/

#decoratie img {
    margin-top: -320px;
    margin-left: 1050px;
    width: 300px;
    height: 400px;
    transform: rotate(20deg);
    opacity: 0.8;
}

#bonnen img {
    margin-top: 390px;
    margin-left: 1090px;
    opacity: 0.7;
    width: 200px;
    height: 120px;
    transform: rotate(10deg);
}

#bonnen1 img {
    margin-top: -90px;
    margin-left: 1180px;
    opacity: 0.9;
    width: 200px;
    height: 190px;
    transform: rotate(-10deg);
}

#bonnen2 img {
    z-index: -3;
    margin-top: 170px;
    margin-left: 1030px;
    opacity: 0.9;
    width: 100px;
    height: 70px;
    transform: rotate(5deg);
}

#tape img {
    transform: rotate(30deg);
    margin-top: 170px;
    margin-left: 1060px;
    width: 100px;
    height: 30px;
}

#tape1 img {
    transform: rotate(-50deg);
    margin-top: -70px;
    margin-left: 1130px;
    width: 130px;
    height: 30px;
}

#brief img {
    z-index: -3;
    transform: rotate(8deg);
    margin-top: -70px;
    margin-left: 810px;
    width: 380px;
    height: 490px;
}

#akte img {
    opacity: 0.4;
    transform: rotate(-8deg);
    margin-top: -70px;
    margin-left: 1210px;
    width: 380px;
    height: 490px;
}

#urn img {
    transform: rotate(-0.8deg);
    margin-top: 330px;
    margin-left: 430px;
    width: 290px;
    height: 90px;
}

#woning img {
    transform: rotate(8deg);
    margin-top: -220px;
    margin-left: 1130px;
    width: 290px;
    height: 190px;
}


/*blendmode*/
