/*
font-family: 'Dancing Script',
cursive;
font-family: 'Overpass',
sans-serif;
*/

img {
    position: absolute;
    width: 90%;
    height: 110%;
    margin-left: 60px;
}

div:nth-of-type(2) {
    position: absolute;
}

a > svg {
    z-index: -1;
    width: 30%;
    height: 10%;
    margin-top: 80px;
    margin-left: 800px;
    animation: fadeIn 6s forwards;
}

p {
    z-index: 1;
    position: absolute;
    margin-top: 180px;
    margin-left: 850px;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    width: 25%;
    color: #97790B;
    animation: fadeIn 6s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Pagina 2*/

.pagina2 {
    background-image: url("Images/achtergrond.png");
}

.pagina2 img {
    animation: opkomen 2s forwards;
}

@keyframes opkomen {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.pagina2 {
    position: absolute;
    margin-left: 260px;
    width: 80%;
    height: 100%;
}

div h1 {
    font-family: 'Overpass', bold;
    font-size: 4em;
    color: #97790B;
    margin-left: -230px;
}

.text {
    width: 300px;
    font-family: 'Overpass', bold;
    margin-top: -20px;
    font-size: 1em;
    color: #97790B;
    margin-left: -230px;
    animation: Invliegen 2s forwards;
    transition: transform .8 ease;
}

@keyframes Invliegen {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0px);
    }
}


/*
    cursor: pointer;
box-shadow: 0 0 0 rgba(204, 169, 44, 4);
*/


/*
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
*/


/*
 animation: jump 1.2s infinite 2s;
 @keyframes jump {
     0% {
         transform: translate3d(0, 0, 0) scale3d(1, 0.4, 2);
     }
     40% {
         transform: translate3d(0, 50%, 0) scale3d(.7, 1.5, 1);
     }
     60% {
         transform: translate3d(0, 100%, 0) scale3d(1.5, .7, 1);
     }
     100% {
         transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
     }
 }
*/
